.main {
  display: "flex";
  flex-direction: "column";
  width: 50vw;
  padding: 10px;
}

.inputSearch {
  border: solid 2px gray;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
}

.usersBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.filtersDomain{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.domain {
  border: solid 1px gray;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}
.filtersStatus {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filtersStatus label:not(:first-child) {
  margin-left: 20px;
}

.filtersStatus label input {
  margin-right: 5px;
}


